.sub-heading-wrapper {
	display: flex;
	align-items: center;
}
.sub-heading-icon {
	width: 2.5rem;
	margin-right: 1rem;
}
.sub-heading {
	font-family: 'Clash Display', sans-serif;
	font-size: 2rem;
	font-weight: 600;
}

@media (max-width: 550px) {
	.sub-heading {
		font-size: 1.65rem;
	}
	.sub-heading-icon {
		width: 2.2rem;
		margin-right: 0.65rem;
	}
}
