h2 {
	font-family: 'Clash Display', sans-serif;
	font-size: 3rem;
}

h4 {
	font-size: 1.25rem;
	font-weight: 600;
}

p {
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.5);
}
